name: Bump version & Publish

on:
  workflow_dispatch:
    inputs:
      config:
        description: 'The config for which to create a new version'
        required: true
        type: choice
        options:
          - react-animation
          - react-transition-presence
          - core-transition-component
          - muban-storybook-addon-transition
          - muban-transition-component
      version:
        description: 'Semver type of new version (major / minor / patch / prerelease)'
        required: true
        type: choice
        options:
          - major
          - minor
          - patch
          - prerelease
      prereleaseId:
        description: 'Prerelease id (when chosen "prerelease")'
        required: false
        type: choice
        options:
          - select-option-if-prerelease
          - alpha
          - beta
          - rc

jobs:
  bump-version:
    runs-on: ubuntu-latest
    steps:
      - name: Check out source
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'
          cache: 'npm'

      - name: Install dependencies
        env:
          GSAP_TOKEN: ${{ secrets.GSAP_TOKEN }}
        run: |
          npm config set //npm.greensock.com/:_authToken $GSAP_TOKEN
          npm config set @gsap:registry https://npm.greensock.com
          npm ci

      - name: Setup Git
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com

      - name: Build
        run: |
          npm run build -w packages/${{ github.event.inputs.config }}

      - name: Bump version
        run: |
          npm version ${{ github.event.inputs.version }} -w packages/${{ github.event.inputs.config }} --no-git-tag-version --preid ${{ github.event.inputs.prereleaseid }}
          git add .
          git commit -m "Publish ${{ github.event.inputs.config }} v$(npm pkg get version --prefix packages/${{ github.event.inputs.config }} | tr -d '"')" --no-verify
          git tag @mediamonks/${{ github.event.inputs.config }}@$(npm pkg get version --prefix packages/${{ github.event.inputs.config }} | tr -d '"') -m "${{ github.event.inputs.config }} v$(npm pkg get version --prefix packages/${{ github.event.inputs.config }} | tr -d '"')"

      - name: Publish
        run: |
          npm config set //registry.npmjs.org/:_authToken $NPM_TOKEN
          npm publish -w packages/${{ github.event.inputs.config }}
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Push latest version
        run: git push origin main --follow-tags
